    /* font style */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
    /* header style part */
    .nav-bar{
        position: fixed;
        width: 100%;
        top: 0;
    }
.nav-items{
    display: flex;
    position: fixed;
    width: 100%;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    font-size:20px;
}
.logo a{
    text-decoration: none;
    color:white;
}
.logo-color{
    color:orange;
}
.nav-list ul{
    display: flex;

}
.nav-list ul li{
    list-style: none;
    padding: 25px;
}
.nav-list ul li a{
    text-decoration: none;
    color: white;
}
.nav-list ul li a:hover{
    color:orange;
    transition: 0.5s;
}
/* header banner */
.header-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.heder-ditails{
    font-size: 40px;
    margin: 200px 100px;
}
.btn{
    text-decoration: none;
    margin-top: 20px;
    font-size: 23px;
    
}
.btn a{
    text-decoration: none;
    padding: 8px 30px;
    background-color: orange;
    border-radius: 25px;
    color:black;
}
.btn a:hover{
    color:white;
    box-sizing: border-box;
    background-color: crimson;
    transition: 0.5s;
}

        /* about section */

.about{
    margin: 80px 0;
}
.title{
    text-align: center;
}
.title h1{
    font-size: 40px;
}
.title p{
    font-size: 20px;
    align-items: center;
}
.title-head-color{
    margin: 0 10px;
    color: red;
}
.about-ditails{
    display: flex;
    align-items: center;
    margin: 20px 100px;
}
.about-ditail{
    padding: 0 30px;
    font-size: 20px;
}
.about-ditail p{
    text-align:justify ;
    margin: 20px 0;
}
        /* about section end */
        /* services section  */

.services-Details{
    background-color: black;
    margin: 100px 0;
    padding: 100px 0;

}

.services-title{
    color: white;
}
.ditails{
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
}
.ditail{
    width: 350px;
    height: 250px;
    padding: 40px;
    margin-right: 40px;
    background-color:#111;
    border-radius: 10px;
    text-align: center;
    
    
}
.ditail-icon{
    font-size: 40px;
    
}
.ditail-title{
    margin: 20px 0;
    color: white;

}
.ditail:hover{
    background-color:crimson;
    color: white;
    transition: 0.5s
}
/* services section end */
/* skill section */

.skill-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 100px 100px;
    
}
.skill-info{
    text-align: justify;
    font-size: 18px;
}
.skill-info p{
    margin: 20px 0;
}
.right{
    margin-left: 30px;
}
.right .line{
    margin-bottom: 25px;
}
.right .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right .info span{
    font-size: 18px;
    font-weight: 500;
}
.right .bars{
    background-color: lightgray;
    height: 5px;
    width: 100%;
    position: relative;
}
.right .bars::before{
    content: '';
    position: absolute;
    height: 100%;
    background-color: crimson;
}
.right .html::before{
    width: 90%;
}
.right .css::before{
    width: 70%;
}
.right .php::before{
    width: 60%;
}
.right .javascript::before{
    width: 80%;
}
/* skills part end */












